/**first row**/
/**first box**/
*{
	margin: 0;
	font-family: Arial;
	border: border-box;
}
.navbar{
	height: 60px;
	background-color: #0f1111;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.nav-logo{
	height: 50px;
	width: 100px;
}
.logo{
	background-image: url("Amazon-Logo.jpg");
	background-size: cover;
	height: 50px;
	width: 100px;
}
.border{
	border: 1.5px solid transparent;
}
.border:hover{
	border: 1.33px solid white;
}


/**second box**/
.add-icon{
	display: flex;
	align:center;
	cursor: pointer;
}
.add-first{
	color: #cccc;
	font-size: 0.85rem;
	margin-left: 15px;
}
.add-second{
	font-size: 1rem;
	margin-left: 3px;
}


/**third box*/
.nav-search{
	display: flex;
	justify-content: space-evenly;
	background-color: orange;
	width: 620px;
	height: 40px;
	border-radius: 4px;
}
.nav-search:hover{
	border: 2px solid orange;
}
.search-select{
	border-top-left-radius: 4px;
	border-buttom-left-radius: 4px;
	background-color: #f3f3f3;
	width: 50px;
	border: none;
	cursor: pointer;
}
.search-input{
	width: 100%;
	font-size: 1rem;
	border: none;
}
.search-icon{
	width: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	border-top-right-radius: 4px;
	border-buttom-right-radius: 4px;\
	color: #0f1111;
}

/**forth box and fifth box**/
span{
	font-size: 0.85rem;
	cursor: pointer;
}
.account{
	display: flex;
	cursor: pointer;
}
.fa-caret-down{
	margin-left: 10px;
}
.nav-second{
	font-size: 0.95rem;
	font-weight: 700;
	cursor: pointer;
}

/**sixth box**/
.nav-cart i{
	font-size: 30px;
}
.nav-cart{
	font-size: 0.85rem;
	font-weight: 700;
	cursor: pointer;
}


/**second row**/
.pannel{
	height: 40px;
	background-color: #222f3d;
	display: flex;
	color: white;
	align-items: center;
	justify-content: space-evenly;
}
/**first box**/
.pannel-all{
	cursor: pointer;
}
/**second box**/
.pannel-ops p{
	display: inline;
	margin-left: 15px;
	cursor: pointer;
}
.pannel-ops{
	width: 70%;
	font-size: 0.85rem;
}
/**third box**/
.pannel-deals{
	font-size: 0.9rem;
	font-weight: 700;
	cursor: pointer;
}


/**third row**/

.sec-1{
	position: relative;
	width: 100%;
	height: 350px;
	box-sizing: border-box;
}
.slide img{
	width: 1360px;
	height: 350px;
}
.container{
	position: relative;
	width: 100%;
	height: 350px;
}
.slider{
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 350px;
}
.image-box{
	display: flex;
	position: absolute;
	animation: carousel 15s alternate infinite;
}
@keyframes carousel{
	0%{
		left: 0%;
	}
	20%{
		left: 0%;
	}
	24%{
		left: -1360px;
	}
	50%{
		left: -1360px;
	}
	54%{
		left: calc(-1360*2px);
	}
	80%{
		left: calc(-1360*2px);
	}
	84%{
		left: calc(-1360*3px);
	}
	100%{
		left: calc(-1360*3px);
	}
}

/**boxes**/
.shop-section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: #e2e7e6;
}
.box{
	height: 280px;
	width: 30%;
	background-color: white;
	padding: 20px 0px 15px;
	margin-top: 15px;
}

/**box1**/
.box-img{
	height: 210px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 1rem;
	margin-bottom: 1rem;
	cursor: pointer;
}
.box-content{
	margin-left: 1rem;
	margin-right: 1rem;
	cursor: pointer;
}
.box-content p{
	color: #007185;
}


/**footer**/
footer{
	margin-top: 15px;
}
.backtop{
	background-color: #37475a;
	color: white;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.85rem;
	cursor: pointer;
}
.foot-pannel2{
	background-color: #222f3d;
	color: white;
	height: 200px;
	display: flex;
	justify-content: space-evenly;
}
ul{
	margin-top: 20px;
}
ul a{
	display: block;
	font-size: 0.85rem;
	margin-top: 10px;
	color: #dddd;
}
.foot-pannel3{
	background-color: #222f3d;
	color: white;
	border-top: 0.5px solid white;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.foot-pannel4{
	background-color: #0f1111;
	color: white;
	height: 76px;
	padding: 25px;
	font-size: 0.8rem;
	text-align: center;
}
.pages{
	padding-top: 25px;
}
.copyright{
	padding-top: 5px;
}



/**Side Bar**/
.sidebar{
	background-color: white;
	width: 300px;
	height: 100%;
	transform: translatex(-390px);
	transition: all 0.5s;
	height: 100%;
	position: absolute;
	z-index: 101;
	overflow-y: scroll;
	box-shadow: 2px 2px 30px black;
}
.hdn-head{
	background-color: #232f3e;
	height: 60px;
	width: 100%;
	color: white;
	text-align: center;
}
.hdn-head h2{
	line-height: 60px;
}
.hdn-content h3{
	padding: 20px 25px;
	color: rgb(39, 39, 39);
}
.hdn-content ul div{
	display: flex;
	cursor: pointer;
	transition: all 0.2s;
	font-size: 14px;
	color: rgb(70, 70, 70);
	padding: 15px 25px;
	justify-content: space-bettween;
}
.line{
	border-top: 0.5px solid black;
}
.fa-xmark{
	top: 20px;
	left: 310px;
	position: absolute;
	font-size: 30px;
	z-index: 101;
	display: none;
	cursor: pointer;
	color: white;
}
.fa-angle-right{
	color: rgb(27, 27, 27);
}
.hdn-content ul div:hover{
	background-color: rgb(230, 227, 227);
}
.hdn-content ul{
	list-style-type: none;
	padding-bottom: absolute;
}
.black{
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
.black.active{
	width: 100%;
	z-index: 100;
}
.black.active-1{
	top: 70px;
	width: 100%;
	z-index: 99;
}
.sidebar.active{
	transform: translatex(0);
}
.fa-xmark.active{
	display: block;
}
.hdn-sign.active{
	display: block;
}
.triangle.active{
	display: block;
}







/**Account bar**/
.triangle{
	position: absolute;
	z-index: 101;
	right: 258px;
	top: 42px;
	display: none;
	background-color: transparent;
	width: 0px;
	height: 0px;
	transition: all 2s;
	border: 12px solid blue;
	border-color: transparent transparent white transparent;
}
.hdn-sign{
	position: absolute;
	z-index: 101;
	transition: all 2s;
	width: 500px;
	height: 350px;
	display: none;
	top: 65px;
	right: 80px;
	background-color: white;
	border-radius: 5px;
}
.hdn-table{
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
}
.hdn-table h3{
	font-size: 16px;
	padding: 10px 0;
}
.hdn-table li{
	list-style-type: none;
	color: rgb(84, 84, 84);
	font-size: 13px;
	padding: 5px 0;
	cursor: pointer;
}
.hdn-line{
	width: 0.5px;
	color: black;
	background-color: rgb(190, 190, 190);
	height: 320px;
}



.stop-scroll{
	overflow: hidden;
	height: 100%;

}
.container{
	background-color: #fff;
	box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
	margin-left: 44px;
}
.product{
	width: 50px;
	height: 150px;
	display: flex;
	cursor: pointer;
	padding-bottom: 0px;
	padding-top: 0px;
}
.product img{
	height: 50px;
	width: 50px;
}
.product p-details{

}